<table>
    <tr *ngFor="let items of numKeys first as isFirst">
        <ng-template ngFor let-key [ngForOf]="items" let-isLast = 'last'>
            <td *ngIf="!isFirst || !isLast">
                <app-numkey-comp [key] = 'key' (clickButton) = "onClick($event)"></app-numkey-comp>
            </td>
            <td class = 'null' rowspan = '3' *ngIf="isFirst && isLast">
                <app-numkey-comp [key] = 'key' (clickButton) = "onClick($event)"></app-numkey-comp>
            </td>
        </ng-template>
    </tr>
</table>
<table>
    <tr *ngFor="let items of signKeys; last as isLast">
        <ng-template ngFor let-key [ngForOf]="items">
            <td *ngIf="!isLast">
                <app-signkey-comp [key] = 'key' (clickButton) = "onClick($event)"></app-signkey-comp>
            </td>
            <td colspan = '2' *ngIf="isLast">
                <app-signkey-comp [key] = 'key' (clickButton) = "onClick($event)"></app-signkey-comp>
            </td>
        </ng-template>
    </tr>
</table>